<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
   

    <!-- Webpage Title -->
    <title>Sign</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<link  rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	
	<!-- Favicon  -->
    <link rel="icon" href=" {{ url_for('static', filename='images/sss.png') }}">
    <style>
        
    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Revo</a> -->

           <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="#"><img src="{{ url_for('static', filename='images/sss.png') }} "  width="10" >Sign Language Recognition</a> 

            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">FEATURES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#details">DETAILS</a>
                    </li>
                    
                </ul>
                
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Text Slider -->
                    <div class="slider-container">
                        <div class="swiper-container text-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-7">
                                            <div class="image-container">
                                                <img class="img-fluid" src=" {{ url_for('static', filename='images/1.png') }}" alt="alternative">
                                            </div> <!-- end of image-container -->
                                        </div> <!-- end of col -->
                                        <div class="col-lg-6 col-xl-5">
                                            <div class="text-container">
                                                <h1 class="h1-large">Introduction To Sign Language</h1>
                                                <p class="p-large">Sign language detection refers to the process of identifying and interpreting the hand gestures, facial expressions, and body movements used in sign language in order to recognize and translate them into spoken or written language.</p>
                                                
                                            </div> <!-- end of text-container -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-7">
                                            <div class="image-container">
                                                <img class="img-fluid" src="{{ url_for('static', filename='images/2.png') }}" alt="alternative">
                                            </div> <!-- end of image-container -->
                                        </div> <!-- end of col -->
                                        <div class="col-lg-6 col-xl-5">
                                            <div class="text-container">
                                                <h1 class="h1-large">Need For This Application</h1>
                                                <p class="p-large">To develop a machine learning model that detects Sign Language and displays its equivalent English Alphabet.</p>
                                                
                                                
                                            </div> <!-- end of text-container -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-7">
                                            <div class="image-container">
                                                <img class="img-fluid" src="{{ url_for('static', filename='images/3.png') }}" alt="alternative">
                                            </div> <!-- end of image-container -->
                                        </div> <!-- end of col -->
                                        <div class="col-lg-6 col-xl-5">
                                            <div class="text-container">
                                                <h1 class="h1-large">Impact On Society</h1>
                                                <p class="p-large"> Sign language promotes inclusion, communication, and cultural diversity, and has a positive impact on the lives of deaf and hard-of-hearing individuals, as well as on broader society.</p>
                                               
                                            </div> <!-- end of text-container -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->
                            
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of text slider -->

               <!----> </div> <!-- end of col -->
            </div> <!-- end of row -->
            
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    


    <!-- Features -->
    <div id="features" class="cards-1 bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Features</h2>
                    <p class="p-heading">The project involves using machine learning techniques, such as SGD optimization and one hot encoding, to develop a robust American Sign Language Interpreter model that can recognize and classify different sign language gestures, which can be deployed as a web application using Flask.</p>
                </div> <!-- end of div -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-rocket"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Open Cv</h5>
                            <p>OpenCV is used in the project for preprocessing and feature extraction from the input image data of American Sign Language gestures.<br><br></p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-tv"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hand Sign Recognition</h5>
                            <p>Hand sign recognition is a feature of the project that involves identifying and classifying the different hand gestures used in American Sign Language.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <i class="fas fa-user-tag"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Uses Flask</h5>
                            <p>Flask is used to deploy the ASL Interpreter model as a web application, allowing users to interact with the model through a user-friendly web interface.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->
<!-- Video -->
    <div class="basic-2 bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Video Presentation</h2>
                    <p class="p-heading">The video demonstration of the American Sign Language Interpreter project showcases the model's ability to recognize and classify different sign language gestures in real-time. The demonstration typically involves a user performing various hand gestures in front of a camera, which are then captured and processed by the model in real-time. The model's predictions are then displayed on the screen, indicating the recognized sign language gesture.</p>

                    <!-- Video Preview -->
                    
                    <video width="700" controls>
                        <source src={{ url_for('static', filename="images/newvid.mp4") }} type="video/mp4">
        
                     
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of video -->
    <!-- Details 1 -->
    <div id="details" class="basic-1 bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src=" {{ url_for('static', filename='images/4.png') }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Check It Yourself</h2>
                        <!-- <p>Our experienced designers and developers have implemented cutting edge tools that will help you sketch your ideas in record time and prepare the design</p> -->
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">SLR works using openCV which supports camera to capture and read the frame</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">You can click on the "Test yourself " and the camera will open</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">The feed will capture the alphabet of ASL and recognise the same</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox">Test Yourself</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->


    <!-- Details Lightbox -->
    <!-- Lightbox -->
	<div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button"></button>
			<div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src=" {{ url_for('video_feed') }}" >
                </div> <!-- end of image-container -->
			</div> <!-- end of col -->
			<div class="col-lg-4">
                <h3>Sign Language Recognition</h3>
				<hr>
                <p>On the left side webcam is displayed use your hand for recognition.</p>
                <h4>Steps:-</h4>
                <p>Follow the steps given below:-</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">It needs a blank background.</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Place your hand at the centre.</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Refer to ASL frame for gestures.</div>
                    </li>
                    <!-- <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Location details screen</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Onboarding steps interface</div>
                    </li> -->
                </ul>
                <button class="btn-outline-reg mfp-close as-button" type="button">BACK</button>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightbox -->


    <!-- Details 2 -->
    <div class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="tabs-container">
            
                        <!-- Tabs Links -->
                        <ul class="nav nav-tabs" id="revoTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">INRODUCTION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">USE CASE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">COMMUNITY DRIVEN</a>
                            </li>
                        </ul>
                        <!-- end of tabs links -->
                        
                        <!-- Tabs Content -->
                        <div class="tab-content" id="revoTabsContent">
        
                            <!-- Tab -->
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                <h4></h4>
                                <!-- <p>American Sign Language (ASL) is a visual language that is primarily used by deaf and hard-of-hearing individuals in the United States and Canada. It is a complex language that utilizes hand gestures, facial expressions, and body movements to convey meaning and is recognized as a fully-fledged language by linguists. <a class="turquoise page-scroll" href="#features">features</a> section shows how we are able to achieve all this.</p> -->
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">American Sign Language (ASL) is a visual language that is primarily used by deaf and hard-of-hearing individuals in the United States and Canada.</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">It is a complex language that utilizes hand gestures, facial expressions, and body movements to convey meaning and is recognized as a fully-fledged language by linguists.</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body"><strong>Focus on simplicity</strong> when it comes to the user interface</div>
                                    </li>
                                </ul>
                            </div> <!-- end of tab-pane --> 
                            <!-- end of tab -->
        
                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <div class="media-bullet">1.</div>
                                        <div class="media-body">ASL has a wide range of applications, particularly in the field of communication and accessibility. </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-bullet">2.</div>
                                        <div class="media-body">It can be used to facilitate communication between deaf and hard-of-hearing individuals and their hearing counterparts, and can also be used as a form of expression and cultural identity for the deaf community.</div>
                                    </li>
                                   
                                </ul>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->
        
                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                                
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">In addition to its linguistic and cultural significance, ASL has a rich and diverse community of users, educators, and advocates who are dedicated to promoting its use and preserving its history</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">ASL has its own literature, poetry, and storytelling traditions, and is recognized as a distinct and valuable part of the broader deaf community.</div>
                                    </li>
                                </ul>
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->
        
                        </div> <!-- end of tab-content -->
                        <!-- end of tabs content -->
        
                    </div> <!-- end of tabs-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src=" {{ url_for('static', filename='images/5.png') }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->


   


    <!-- Testimonials -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src=" {{ url_for('static', filename='images/banner.png') }}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">UI/UX Designer</p>
                                            <p class="testimonial-author">Vrushal Bagwe</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{{ url_for('static', filename='images/gaurav.png') }}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Backend Developer</p>
                                            <p class="testimonial-author">Gaurav Mishra</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{{ url_for('static', filename='images/rah.png') }}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Backend Developer</p>
                                            <p class="testimonial-author">Rahul Thanvi</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                
        
                               
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{{ url_for('static', filename='images/yogesh1.png') }}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">UI/UX Designer</p>
                                            <p class="testimonial-author">Yogesh Govari</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                            
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->
	
    <!-- Scripts -->
    <script src=" {{ url_for('static', filename='js/jquery.min.js') }}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- Bootstrap framework -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script> <!-- Swiper for image and text sliders -->
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Custom scripts -->
</body>
</html>